/* xử lý animation */
@keyframes scaleFade {
  0% {
    transform: scale(1.4);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
  }
}

.animate-scaleFade {
  animation: scaleFade 2.2s ease-in-out forwards;
}
